{% extends "accounts/base.html" %}

{% block title %}
Add Student | InternHub
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Add Student</h2>

    <div class="card">

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">
                    <label>Username</label>
                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        required
                    >
                </div>

                <div class="mb-3">
                    <label>First Name</label>
                    <input
                        type="text"
                        name="first_name"
                        class="form-control"
                    >
                </div>

                <div class="mb-3">
                    <label>Last Name</label>
                    <input
                        type="text"
                        name="last_name"
                        class="form-control"
                    >
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        required
                    >
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        required
                    >
                </div>

                <button type="submit" class="btn btn-primary">
                    Add Student
                </button>

                <a
                    href="{% url 'student_list' %}"
                    class="btn btn-secondary"
                >
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}